.about {
    padding-bottom:150px ;
    &__container {
        display: flex;
    }
    &__column-right {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    &__column-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        margin-bottom: 100px;
    }
    &__item-header {
        font-weight: 700;
        font-size: 24px;
        text-align: left;
        margin-bottom: 30px;
    }
    &__item-p {
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
    }
    &__item-text-left {
        margin-top: 165px;
    }
    &__item-text-right {
        margin-bottom: 165px;
    }
}