.reviews {
    &__review {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #018ABE;
        padding: 6px 0 6px 6px;
        border-radius: 4px;
        align-items: center;
        margin-bottom: 20px;
        
    }
    &__photo {
        height: 60px;
        width: 60px;
        border-radius:4px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        margin-bottom: 40px;
    }
}